<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_shared/_layout">

<head>
    <meta charset="UTF-8">
    <title layout:fragment="pageTitle" >Dodaj Produkt</title>
    <link rel="stylesheet" th:href="@{/global.css}">
</head>
<body>

<nav th:replace="fragment/menu :: menu"></nav>

<div layout:fragment="content" class="form-container">

        <h1>Dodaj Produkt</h1>
        <form th:action="@{/produkt/add}" th:object="${produkt}" method="post">
            <label for="id">Id:</label>
            <input type="number" id="id" name="index" th:field="*{id}" step="1" required>

            <label for="nazwa">Nazwa produktu:</label>
            <input type="text" id="nazwa" name="nazwa" th:field="*{nazwa}" required>

            <label for="waga">Waga [kg]:</label>
            <input type="number" id="waga" name="waga" th:field="*{waga}" step="0.01" required>

            <label for="cena">Cena [PLN]:</label>
            <input type="number" id="cena" name="cena" th:field="*{cena}" step="0.01" required>

            <label for="kategoria">Kategoria:</label>
            <input type="text" id="kategoria" name="kategoria" th:field="*{kategoria}" required>

            <button type="submit">Dodaj Produkt</button>
        </form>
        <a href="/produkt/">Anuluj</a>

</div>

</body>
</html>
