<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="./_shared/_layout.html">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="pageTitle" >Szczegóły produktu</title>
    <link rel="stylesheet" th:href="@{/global.css}">
</head>
<body>

<nav th:replace="produkt/fragment/menu :: menu"></nav>

<div layout:fragment="content" class="details-container">
    <h1>Szczegóły Produktu</h1>
    <p><strong>Id:</strong> <span th:text="${produkt.id}"></span></p>
    <p><strong>Nazwa produktu:</strong> <span th:text="${produkt.nazwa}"></span></p>
    <p><strong>Waga [kg]:</strong> <span th:text="${produkt.waga}"></span></p>
    <p><strong>Cena [PLN]:</strong> <span th:text="${produkt.cena}"></span></p>
    <p><strong>Kategoria:</strong> <span th:text="${produkt.kategoria}"></span></p>

    <a href="/produkt/">Powrót do listy</a>
</div>

</body>
</html>
