<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="./_shared/_layout.html">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="pageTitle" >Edytuj Produkt</title>
    <link rel="stylesheet" th:href="@{/global.css}">
</head>
<body>

<nav th:replace="produkt/fragment/menu :: menu"></nav>

<div layout:fragment="content" class="form-container">
    <h1>Edytuj Produkt</h1>
    <form th:action="@{/produkt/edit/{id}(id=${produkt.id})}" th:object="${produkt}" method="post">
        <label for="nazwa">Nazwa produktu:</label>
        <input type="text" id="nazwa" name="nazwa" th:field="*{nazwa}" required>

        <label for="waga">Waga [kg]:</label>
        <input type="number" id="waga" name="waga" th:field="*{waga}" step="0.01" required>

        <label for="cena">Cena [PLN]:</label>
        <input type="number" id="cena" name="cena" th:field="*{cena}" step="0.01" required>

        <label for="kategoria">Kategoria:</label>
        <input type="text" id="kategoria" name="kategoria" th:field="*{kategoria}" required>

        <button type="submit">Zapisz zmiany</button>
    </form>
    <a href="/produkt/">Anuluj</a>
</div>

</body>
</html>
